* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}
body {
  width: 100vw;
  max-width: 100%;
}
.main-header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(assets/nav.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.header-top-bar {
  padding: 15px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  font-size: 1.1em;
}
.header-title {
  width: inherit;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title h1 {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 3em;
  font-style: italic;
}
.header-bottom-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header-bottom-navbar-options {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  border-top: 2px solid white;
}
.header-bottom-navbar-options li a {
  color: white;
  text-decoration: none;
  font-size:1.3em;
}
.radialblur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 24%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.services{
    padding:30px;
}

.service-card{
    width:100%;
    height:430px;
    display:flex;
    position: relative;
    justify-content: center;
    margin-bottom:40px;
}

.right-service-card{
  flex-direction: row-reverse;
}

.service {
  font-size:1.5em;
}

.service *{  
  font-family: 'Merriweather';
}

.service p{
  opacity: 0.7;
}

.text{
    padding:45px;
    border: 3px solid #77A791;
    border-radius: 1px;
    border-right: none;
    max-width:720px;
}

.right-text{
  border: 3px solid #77A791;
  border-left: none;
  text-align: right;
}

.image{
    position:relative;
    display:flex;
}

.right-image{
  flex-direction: row-reverse;
}

.image-outline{   
    border: 3px solid #77A791;
    border-radius: 1px;
    border-left: none;
    width:242px;
}

.right-outline{
  border: 3px solid #77A791;
  border-right: none;
}

.image-white-space{
    width:242px;
}

.image img{
    position:absolute;
    align-self: center;
    justify-self: center;
    width:485px;
    height:326px;
}

.flex-hr{
    margin:20px;
    margin-left:0px;
    margin-right:0px;
    display:flex;
}

.flexed-hr{
    width:200px;
}

.right-hr{
  flex-direction: row-reverse;
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.whyus{
  display:grid;
  justify-content: space-between;
  row-gap: 40px;
  grid-template-columns: 60% 30%;
  padding:30px;
  width:100%;
  max-width: 1326px;
}

.whyus-main{
  max-width: 100%;
}

.whyus-main-image{
  position:relative;
  display:flex;
  flex-direction: row-reverse;
}

.shifted{
  flex-direction: row;
}

.background-square{
  position:absolute;
  height:70%;
  width:400px;
  justify-self: center;
  align-self: center;
  background-color:#77A791;
  z-index:0;
}

.whyus-main-image img{
  z-index:1;
}

.shifted img{
  height:80%;
  width:auto;
  justify-self: center;
  align-self: center;
  flex-grow:1;
  margin-left:5%;
}

.shifted-p{
  margin:auto;
}

.shifted-square{
  justify-self: unset;
  align-self: unset;
  top:0;
  left:0; 
  background-color: #4A6658;
}